<?xml version="1.0" encoding="utf-8"?>
<robot name="simple_arm">
  <!-- 底座 -->
  <link name="base_link">
    <innrtial>
      <origin xyz="0.0 0.0 0.05" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.001"/>
    </innrtial>
    <visual>
      <origin xyz="0.0 0.0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.3 0.1"/>
      </geometry>
      <material name="Cyan1">
        <color rgba="0 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.3 0.1"/>
      </geometry>
    </collision>
  </link>
</robot>